* {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #242424
}

.wrapper {
    background: rgb(255, 255, 255);
    width: 400px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 0 130px 0 rgba(0, 0, 0, 0.05), 0 30px 60px -60px rgba(0, 0, 0, 1);
}

.form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form header {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

 .logo {
    width: 150px;
    margin: 50px auto;
    height: auto;
}

.signup .logo{
    margin-bottom:40px;
}

.form form {
    margin: 20px 0;
}

.form .error-text {
    color: #582424;
    background: #f8d7da;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details {
    display: flex;
}

.form .name-details .field:first-child {
    margin-right: 15px;
}

.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form form .field label {
    margin-bottom: 5px;
}

.form form .field input {
    outline: none
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.profile-input {
    font-size: 15px;
}

.form form .button input {
    margin-top: 15px;
    height: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background: #2b36d3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.form .link {
    font-size: 16px;
}

.form .link a {
    color: #0a5397;
}

.form .link a:hover {
    text-decoration: underline;
}


/* Users */

.users {
    padding: 30px;
    position: relative;
}

.users header{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}

.wrapper img {
    object-fit: cover;
    border-radius:15px;
}

.users .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

.users .details{
    color: #000000;
    margin-left: 15px;
}



.users header .details span {
    font-size: 25px;
    font-weight: bold;



}

.users .logout {
    color: #ffffff;
    padding: 8px 15px;
    background: #2b36d3;
    border-radius: 5px;
}

.users .search {
    position: relative;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users input {
    height: 40px;
    width: calc(100% - 50px);
    padding-left: 15px;
    border: 1px solid #cccccc;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.users button {
    width: 45px;
    height: 40px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #2b36d3;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
}


.user-list {
    max-height: 75%;
     overflow-y: auto;
     display: flex;
     flex-wrap: wrap;

}
.user-list .user-card{
    position: relative;
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.user-list .user-card::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
.user-list .user-card span{
    position:absolute;
}

.user-list .content{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;               /* added for centered text */
    justify-content: center;     /* added for centered text */
    align-items: center;  
    border-radius:15px;

}


.user-list a{
    color:#242424;
    padding-top: 5px;
}

.status-dot {
    font-size: 12px;
    color: #468669;
}

.user-list .status-dot.offline {
    color: #cccccc;
}

/* Chat */


.chat-container header {
    display: flex;
    align-content: center;
    padding: 15px 30px;
}

.chat-container .back-icon {
    margin: auto 0;
    font-size: 18px;
    color: #333333;
}

.chat-container img {
    height: 50px;
    width: 50px;
    margin: 3px 15px;
}

.chat-container .details{
    margin:auto 0;
}
.chat-container span {
    font-size: 20px;
    font-weight: bold;
}

.chat {
    padding: 5px 0 5px 0;
}

.messageList {
    height: 645px;
    background: #e9e9e9;
    padding: 10px 30px 20px 30px;
    box-shadow: inset;
    overflow-y: auto;
}

.messageList p {
    word-wrap: break-word;
    padding: 10px 16px;
}

.messageList .out {
    display: flex;
}

.out .message {
    margin-left: auto;
    max-width: calc(100% - 100px);
}

.out .message p {
    background: #333333;
    color: #ffffff;
    border-radius: 20px 20px 0 20px;
}

.messageList .in {
    display: flex;
    align-items: flex-end;
}

.messageList .in img {
    height: 35px;
    width: 35px;
    margin-left: 0;
}

.in .message {
    margin-left: 0px;
    padding-left: 0;
    margin-right: auto;
    max-width: calc(100% - 100px);
}

.in p {
    background: white;
    color: #333333;
    border-radius: 20px 20px 20px 0;
}

.typing {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.typing input {
    height: 40px;
    width: calc(100% - 55px);
    font-size: 15px;
    border: 1px solid #cccccc;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
    outline: none;
}

.typing button {
    width: 55px;
    border: none;
    outline: none;
    background: #2b36d3;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}